body {
  margin:0;
  font-family:sans-serif;
  transition:0.3s;
}

body.dark { background:#0f172a; color:white; }
body.light { background:white; color:black; }

header {
  display:flex;
  justify-content:space-between;
  padding:10px;
}

input {
  width:90%;
  margin:10px auto;
  padding:8px;
  display:block;
  border-radius:8px;
  border:none;
}

.card {
  margin:15px;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 4px 15px rgba(0,0,0,0.2);
  animation:fadeIn 0.5s ease;
}

.card img {
  width:100%;
  object-fit:cover;
}

.card h3 {
  padding:10px;
}

audio {
  width:100%;
}

button {
  padding:8px 12px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.admin-btn {
  position:fixed;
  bottom:20px;
  right:20px;
}

.modal {
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
}

.modal-content {
  background:white;
  padding:20px;
  margin:100px auto;
  width:90%;
  border-radius:10px;
}

@keyframes fadeIn {
  from{opacity:0;transform:translateY(10px);}
  to{opacity:1;transform:translateY(0);}
}
